[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
Flask = "==1.1.2"
Flask-JWT = "==0.2.0"
Flask-PyMongo = "==2.3.0"
Flask-Cors = "==3.0.9"
Flask-Restful = "==0.3.8"
flask-mongoengine = "==1.0.0"
werkzeug = "==1.0.1"

[requires]
python_version = "3.7"